#contenedor-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background: white;
}

.card-proyecto {
    background: rgba(229, 229, 255, 1);
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 10px 100px rgba(0,0,0,1);
}

.img-proyecto {
    width: 100%;
}

body {
    font-family: Arial;
    margin: 0;
}

h2 {
    color: rgba(32, 32, 230, 1);
    font-size: 20px;
}

ul {
    padding-left: 20px;
}

.botones-container {
    text-align: center;
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: rgba(69, 131, 253, 0.8);
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(135, 135, 135, 1);
    color: white;
    margin-top: 20px;
}

header{
text-align: center;
font-size: 20px;
padding: 20px;
background: rgba(53, 53, 255, 1);
color: white;
}
